.bg {
  /* background-color: red; */
  background-color: rgb(255, 255, 255);
}
.flex {
  display: flex;
  align-items: center;
}
.mx-auto {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}
.button {
  padding: 15px;
  margin: 0px 2px;
  border: 2px solid black;
  border-radius: 150px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn {
  background-color: rgb(73, 71, 67);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.re {
  text-transform: uppercase;
}

.row {
  margin: 10px;

  text-align: center;
}

.row-1 input {
  margin-left: 30px;
  background-color: black;
  color: white;
  width: 250px;

  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-size: 20px;
  border: 3px solid black;
  height: 35px;
  border-radius: 10px;
  border-color: black;
}
.full-auto {
  border: 2px solid black;
  height: 430px;
  width: 350px;

  margin-left: 10px;
  padding-top: 25px;
  background-color: black;
  border-radius: 15px;
}
.foot a{
    text-decoration: none;
    color: black;

}
.foot{
    padding-top: 70px;
    
}
.foot button{
    
    margin-left: 150px;
    text-align: center;
}


.btn-1{
    background-image: linear-gradient(45deg, gold,pink,red,purple);
    height: 40px;
    width: 100px;
    border-radius: 20px;
margin-top: 20px;

}
.foot h4{
    background-color: grey;
  text-align: center;
}